:root {
    --primary-color: #cebdce;
    --secondary-color: #D7E8BA;
    --accent1-color: #4DA1A9;
    --accent2-color: #2E5077;
    --accent3-color: #253f5c;
    --heading-font: "Times new Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header img {
    width: 100px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1rem;
}

header nav a {
    display: block;
    width: 170px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid var(--accent3-color);
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--body-font);
    color: var(--accent1-color);
}

section img {
    width: 200px;
    align-self: center;

}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 5fr;
    align-content: center;
}

section p {
    grid-column: span 2;
    align-self: center;
}

section h2 {
    grid-column: 1/6;
    grid-row: 1;

}

section figure {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 1;
}

section figure img {
    margin-top: 10px;
    width: 100px;
}

section figure figcaption {
    margin-top: 10px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.tripping section {
    display: grid;
    grid-template-columns: 13rem 10rem;
    grid-template-rows: 60px 5fr;
    align-content: center;
}

.tripping section p {
    display: block;
    border: 3px solid var(--accent3-color);
    padding: 3rem;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    font-size: x-large;
    text-decoration: none;
    text-align: center;
}

.tripping section a {
    display: block;
    border: 3px solid var(--accent3-color);
    padding: 3rem;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    font-size: x-large;
    text-decoration: none;
    border-radius: 70px;
    text-align: center;
    margin: 16px;
}

.second img {
    display: block;
    margin: auto;
    width: 90%;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    position: relative;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
    text-shadow: 0 0 15px #333;
}

article h2 {
    padding: 5px;
    background-color: var(--accent2-color);
}

.rebang fieldset {
    margin-top: 1rem;
    border: solid 4px var(--accent2-color);
    border-radius: 15px;

}

.trippy {
    position: relative;
}

.trippy section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.trippy article {
    background-color: var(--accent2-color);
    opacity: 0.9;
    top: 150px;
    width: 90%;
    color: var(--secondary-color);
    box-shadow: 0 0 15px #201d1d;
    margin-left: 2.6rem;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trippy h3 {
    padding: 20px;
    text-align: center;
}

.trippy p {
    text-align: center;
}

.trippy img {
    float: left;
    display: block;
    width: 20rem;
    height: auto;
    border-radius: 40px;
    margin: 10px;
    border: 4px solid var(--accent3-color);
    box-shadow: 0 0 30px #201e1e5d;
}

.funtable section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.rebang {
    grid-template-columns: 5rem auto;
}

.index-cap {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero article {
    background-color: var(--accent2-color);
    opacity: 0.9;
    top: 150px;
    position: absolute;
    width: 90%;
    color: var(--secondary-color);
    box-shadow: 0 0 15px #333;
    margin-left: 2.6rem;
    margin-right: auto;
}

.hero article img {
    float: right;
    width: 100px;
    box-shadow: 0 0 15px #333;
}

.shower {
    text-align: center;
}

.shower h1 {
    position: absolute;
    top: 3000px;
}

.shower p {
    margin: 2px;
    padding: 2px;
}

.map {
    margin-bottom: 1rem;
    grid-template-columns: 450px 450px;
    grid-template-rows: 450px;
    align-content: flex-start;
}

.map fieldset {
    border: none;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
    gap: 1rem;
}

.second article a {
    text-decoration: none;
}

.column1 {
    grid-template-columns: 60px 250px;
    padding: 10px;
}

.column2 {
    grid-template-columns: 60px 250px;
    padding: 10px;
}

.column3 {
    grid-template-rows: 1fr 3fr;
    padding: 10px;
}

.column3 textarea {
    height: 100px;
    width: 320px;
    align-self: center;
}

.radio_option {
    margin: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 200px;
    align-items: center;
    text-align: left;

}

.column4 {
    grid-template-columns: 60px 250px;
}

.submitb {
    width: 350px;
    height: 40px;
    padding: 10px;
}

iframe {
    width: 450px;
    height: 450px;
}

.gmap {
    grid-column: 1/2;
}

.map form {
    grid-column: 2/3;
}

footer a img {
    width: 30px;
}

.aboutfigure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 5fr;
    align-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--accent3-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 30px;
    margin: 40px;
}

th,
td {
    border: 1px solid var(--accent2-color);
    padding: 8px 10px;
    text-align: center;
    background-color: #182c3f;
}

thead th,
tfoot tr {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-weight: 700;
}